<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ligeiro World</title>
</head>
<body>
    <h1>Ligeiro World</h1>

    {% for post in posts %}
    <div>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <h6>Data de Publicação: {{ post.published_date }}</h6>
    </div>
    {% endfor %}
</body>
</html>